<div class="list-group-item">
    <a href="<%= event_path(@conn, :show, @event.id) %>">
        <h3 class="list-group-item-heading"> <%= @event.title %> </h3> 
    </a>
    <span class="pull-left"> <%= format_date @event.date %> </span> <br/>
</div>
